<form class="form-horizontal" required>
  <div class="form-group">
    <label class="control-label col-sm-3">Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="Enter name" ng-required="required" ng-model="group.newGroup.name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3">Curator name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="Enter curator name" ng-required="required" ng-model="group.newGroup.curatorName">
    </div>
  </div>
  <hr />
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button
        type="button"
        class="btn btn-info"
        ng-disabled="group.createGroupFieldValidation()"
        ng-click="group.createNewGroup();$hide();"
      >
        Create
      </button>
      <button type="button" class="btn btn-danger" ng-click="$hide()">Close</button>
    </div>
  </div>
</form>
