<div>
  <div class="panel panel-default">
    <div class="panel-body panel-body-for-deleting">
      <h4>Are you sure you want to delete this group: {{group.clickedGroup.name}} ?</h4>
      Because all data will be deleted too!
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="group.deleteGroup(groupItem)">Yes</button>
    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="$hide()">No</button>
  </div>
</div>
