.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.alert {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 400px;
  z-index: 1000;
  font-weight: bold;
}

.modal-header {
  background-color: #00bdff;
  color: #ffffff;
}

.panel-body-for-deleting {
  border-left: 6px solid #b20000;
}
