<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Curator</th>
        <th>Students</th>
        <th>Amount of students</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="groupItem in group.groupsList">
        <td>{{groupItem.groupId}}</td>
        <td>{{groupItem.name}}</td>
        <td>{{groupItem.curatorName}}</td>
        <td>
          <table>
            <tr ng-repeat="studentItem in groupItem.students">
              <td>{{ studentItem.fullName }}</td>
            </tr>
          </table>
        </td>
        <td>{{groupItem.students.length}}</td>
        <td>
          <button
            type="button"
            class="btn btn-info"
            data-animation="am-fade-and-slide-top"
            data-template-url="app/components/group/editGroupModal.html"
            bs-modal="modal"
            ng-click="group.selectGroup(groupItem)"
          >
            Edit
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            data-animation="am-fade-and-slide-top"
            bs-modal="modal"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button
    type="button"
    class="btn btn-info btn-lg"
    data-animation="am-fade-and-slide-top"
    data-template-url="app/components/group/createGroupModal.html"
    bs-modal="modal"
  >
    Add new group
  </button>
</div>
