<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Curator</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="groupItem in group.groupsList | orderBy: 'name'">
        <td>{{groupItem.id}}</td>
        <td>{{groupItem.name}}</td>
        <td>{{groupItem.curatorName}}</td>
        <td>
          <button
            type="button"
            class="btn btn-info"
            data-animation="am-fade-and-slide-top"
            data-template-url="app/components/group/editGroupModal.html"
            ng-click="group.selectGroupForEditing(groupItem)"
          >
            Edit
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            ng-click="group.selectGroupForDeleting(groupItem)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button
    type="button"
    class="btn btn-info btn-lg"
    data-animation="am-fade-and-slide-top"
    data-template-url="app/components/group/createGroupModal.html"
    bs-modal="modal"
  >
    Add new group
  </button>

  <modal modal-params="group.modalParams"></modal>

</div>
