<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Curator</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="groupItem in group.groupsList | orderBy: 'name'">
        <td>{{groupItem.id}}</td>
        <td>{{groupItem.name}}</td>
        <td>{{groupItem.curatorName}}</td>
        <td>
          <button
            type="button"
            class="btn btn-info"
            data-animation="am-fade-and-slide-top"
            ng-click="group.selectGroup(groupItem)"
          >
            Edit
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            data-animation="am-fade-and-slide-top"
            data-template-url="app/components/group/deleteGroupModal.html"
            bs-modal="modal"
            ng-click="group.selectGroup(groupItem)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button
    type="button"
    class="btn btn-info btn-lg"
    data-animation="am-fade-and-slide-top"
    data-template-url="app/components/group/createGroupModal.html"
    bs-modal="modal"
  >
    Add new group
  </button>

  <div>
    <modal
      modal-id="modal.id"
      modal-title="modal.title"
      modal-body="modal.body"
      modal-footer="modal.footer"
      modal-header="modal.header">
    </modal>
    <a data-target="#groupModal" role="button" class="btn btn-success" data-toggle="modal">Launch Demo Modal</a>
  </div>

</div>
