<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Add new student to the group</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Enter full name" ng-model="student.newStudent.fullName" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" placeholder="Enter email" ng-model="student.newStudent.email" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Age</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" placeholder="Enter age" ng-model="student.newStudent.age" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Select group</label>
            <div class="col-sm-10">
              <select
                class="form-control"
                id="group"
                ng-model="group"
                ng-options="groupItem.name for groupItem in student.groupsList"
                required
              >
                <option value="">Select group</option>
                <option>{{groupItem.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button
                type="submit"
                class="btn btn-info"
                data-dismiss="modal"
                ng-click="student.createStudent(group);$hide();"
              >
                Create
              </button>
              <button type="button" class="btn btn-danger" ng-click="$hide()">
                Close
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
