<div>
  <h1 class="display-4">All students</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Group</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="studentItem in student.studentsList | orderBy: 'group'">
        <td>{{studentItem.id}}</td>
        <td>{{studentItem.name}}</td>
        <td>{{studentItem.email}}</td>
        <td>{{studentItem.age}}</td>
        <td>{{studentItem.group}}</td>
        <td>
          <button
            type="button"
            class="btn btn-info"
            data-animation="am-fade-and-slide-top"
            data-template-url="app/components/student/studentModal.html"
            bs-modal="modal"
            ng-click="student.selectStudentForEditing(studentItem)"
          >
            Edit
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            ng-click="student.selectStudentForDeleting(studentItem)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button
    type="button"
    class="btn btn-info btn-lg"
    data-animation="am-fade-and-slide-top"
    data-template-url="app/components/student/studentModal.html"
    bs-modal="modal"
    ng-click="student.selectStudentForCreating(studentItem)"
  >
    Create new student
  </button>

  <modal modal-params="student.modalParams"></modal>

</div>
