<div>
  <h1 class="display-4">All students</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Group</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody ng-repeat="groupItem in student.groupsList">
      <tr ng-repeat="studentItem in groupItem.students">
        <td>{{studentItem.fullName}}</td>
        <td>{{studentItem.email}}</td>
        <td>{{studentItem.age}}</td>
        <td>{{groupItem.name}}</td>
        <td>
          <button
            type="button"
            class="btn btn-info"
            data-animation="am-fade-and-slide-top"
            data-template-url="app/components/student/editStudentModal.html"
            bs-modal="modal"
            ng-click="student.selectStudent(studentItem)"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
