<div>
  <h1 class="display-4">All students</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Group</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody ng-repeat="groupItem in student.groupsList">
      <tr ng-repeat="studentItem in groupItem.students">
        <td>{{studentItem.studentId}}</td>
        <td>{{studentItem.fullName}}</td>
        <td>{{studentItem.email}}</td>
        <td>{{studentItem.age}}</td>
        <td>{{groupItem.name}}</td>
        <td>
          <button
            type="button"
            class="btn btn-info"
            data-animation="am-fade-and-slide-top"
            data-template-url="app/components/student/editStudentModal.html"
            bs-modal="modal"
            ng-click="student.selectStudent(studentItem)"
          >
            Edit
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            data-animation="am-fade-and-slide-top"
            data-template-url="app/components/student/deleteStudentModal.html"
            bs-modal="modal"
            ng-click="student.selectStudent(studentItem)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button
    type="button"
    class="btn btn-info btn-lg"
    data-animation="am-fade-and-slide-top"
    data-template-url="app/components/student/createStudentModal.html"
    bs-modal="modal"
  >
    Create new student
  </button>
</div>
